.navbar {
  height: 50px;
  background-color: #557a95;
  display: flex;
  justify-content: center;
  padding-top: 7px;
  padding-bottom: 7px;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 500;
}

.navButton {
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
}

.logo {
  width: 30px;
  height: auto;
  color: rgb(0, 0, 0);
  padding-top: 5px;
}

.logoname {
  font-size: larger;
  font-weight: 300;
  letter-spacing: 8px;
  text-transform: capitalize;
  padding-left: 5px;
  padding-right: 5px;
  color: rgb(255, 255, 255);
}
